@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Roboto&display=swap');

@import url('Components/container.css');
@import url('Components/avatar.css');
@import url('Components/button.css');
@import url('Components/banner.css');
@import url('Components/card.css');

body {
	font-family: 'Lora', serif;
	font-size: 18px;
}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

a {
	text-decoration: none;
}

iframe 